.userList {
  flex: 4;
  height: 500px;
}
.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.userListUser:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: red;
}
.userListUser{
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: red;

}
.userLinkOrders{
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}